<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100" lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Панель управления администратора</title>
    <style>
        a.disabled {
            pointer-events: none; /* делаем элемент неактивным для взаимодействия */
            cursor: default; /*  курсор в виде стрелки */
            color: #888;/* цвет текста серый */
        }
        a {
            text-decoration: none;
            color: #282828;
        }
        a:hover {
            text-decoration: none;
            color: #282828;
        }
        table {
            font-size: 14px;
            text-align: center;
            width: 75%;
        }
        th a {
            display: block;
        }
        ._btn-active-table {
            border: 1px solid inherit;
        }
        ._btn-active-table:hover {
            -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
            -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
            box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
        }
    </style>
</head>
<body style="font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif">
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand">CRM</a>
            <!-- Left -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/manager/contact}">Заявки</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/manager/lead}">Активности</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/manager/deal}">Сделки</a>
                    </li>
                </ul>
                <!-- Right -->
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link">Менеджер</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Выйти</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <table class="table table-striped table-hover w-75 position-relative translate-middle-x start-50">
        <thead>
        <tr>
            <th>№ лида</th>
            <th>Заголовок</th>
            <th>Состояние</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lead : ${leadList}">
            <div th:if="${lead.getId() == leadId}">
                <th class="table-active" th:text="${lead.getId()}"></th>
                <th class="table-active" th:text="${lead.getTitle()}"></th>
                <th class="table-active" th:text="${lead.getState().getLabel()}"></th>
                <th class="_btn-active-table"><a th:href="@{/manager/deal/{id}(id=${lead.getId()})}">Сделки</a></th>
            </div>
            <div th:unless="${lead.getId == leadId}">
                <th th:text="${lead.getId()}"></th>
                <th th:text="${lead.getTitle()}"></th>
                <th th:text="${lead.getState().getLabel()}"></th>
                <th class="_btn-active-table"><a th:href="@{/manager/deal/{id}(id=${lead.getId()})}">Сделки</a></th>
            </div>
        </tr>
        </tbody>
    </table>
    <br>
    <table class="table table-striped table-hover w-75 position-relative translate-middle-x start-50">
        <thead>
        <tr>
            <th>№ сделки</th>
            <th>Заголовок</th>
            <th>Состояние</th>
            <th>Договор</th>
            <th class="_btn-active-table" colspan="3" style="text-align: center;"><a th:class="${leadId == null ? 'disabled' : ''}" th:href="@{/manager/deal/create/view/{id}(id=${leadId})}">Добавить</a></th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="deal : ${dealList}">
                <div th:if="${deal.getId() == dealId}">
                    <th class="table-active" th:text="${deal.getId()}"></th>
                    <th class="table-active" th:text="${deal.getTitle()}"></th>
                    <th class="table-active" th:text="${deal.getState().getLabel()}"></th>
                    <th class="table-active" th:text="${deal.getDogovor().getTitle()}"></th>
                    <th class="table-active"><a th:href="@{/manager/deal/{idLead}/{idDeal}(idLead=${leadId}, idDeal=${deal.getId()})}">Товар</a></th>
                    <th class="table-active"><a th:disabled="${deal.getState() == deal.getState().CLOSE}" th:href="@{/manager/deal/update/view/{id}(id=${deal.getId()})}">Редактировать</a></th>
                    <th th:if="${deal.getState() == deal.getState().OPEN}" class="_btn-active-table"><form th:method="POST" th:action="@{/manager/deal/approve/{leadId}/{dealId}/(leadId=${leadId}, dealId=${deal.getId()})}"><input style="size: auto; background: none; border: none; outline: none;" type="submit" value="Утвердить"></form></th>
                    <th th:if="${deal.getState() == deal.getState().APPROVE}" class="_btn-active-table"><form th:method="POST" th:action="@{/manager/deal/close/{leadId}/{dealId}/(leadId=${leadId}, dealId=${deal.getId()})}"><input style="size: auto; background: none; border: none; outline: none;" type="submit" value="Закрыть"></form></th>
                </div>
                <div th:unless="${deal.getId == dealId}">
                    <th th:text="${deal.getId()}"></th>
                    <th th:text="${deal.getTitle()}"></th>
                    <th th:text="${deal.getState().getLabel()}"></th>
                    <th th:text="${deal.getDogovor().getTitle()}"></th>
                    <th ><a th:href="@{/manager/deal/{idLead}/{idDeal}(idLead=${leadId}, idDeal=${deal.getId()})}">Товар</a></th>
                    <th ><a th:disabled="${deal.getState() == deal.getState().CLOSE}" th:href="@{/manager/deal/update/view/{id}(id=${deal.getId()})}">Редактировать</a></th>
                    <th th:if="${deal.getState() == deal.getState().OPEN}" class="_btn-active-table"><form th:method="POST" th:action="@{/manager/deal/approve/{leadId}/{dealId}/(leadId=${leadId}, dealId=${deal.getId()})}"><input style="size: auto; background: none; border: none; outline: none;" type="submit" value="Утвердить"></form></th>
                    <th th:if="${deal.getState() == deal.getState().APPROVE}" class="_btn-active-table"><form th:method="POST" th:action="@{/manager/deal/close/{leadId}/{dealId}/(leadId=${leadId}, dealId=${deal.getId()})}"><input style="size: auto; background: none; border: none; outline: none;" type="submit" value="Закрыть"></form></th>
                </div>
            </tr>
        </tbody>
    </table>
    <br>
    <table class="table table-striped table-hover w-75 position-relative translate-middle-x start-50">
        <thead>
        <tr>
            <th>№ состава</th>
            <th>Товар</th>
            <th>Количество</th>
            <th class="_btn-active-table" colspan="1" style="text-align: center;"><a th:class="${dealId == null ? 'disabled' : ''}" th:href="@{/manager/deal/create/sostav/view/{id}(id=${dealId})}">Добавить</a></th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="sostav : ${sostavList}">
                <th th:text="${sostav.getId()}"></th>
                <th th:text="${sostav.getProduct().getName()}"></th>
                <th th:text="${sostav.getCount()}"></th>
                <th class="_btn-active-table"><a th:href="@{/manager/deal/sostav/update/view/{id}(id=${sostav.getId()})}">Редактировать</a></th>
            </tr>
        </tbody>
    </table>
</body>
</html>